<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update Form</title>
</head>
<body>
    <form method="post" action="/insertUser" align="center">
        <table align="center">
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td><label for="email">email</label></td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><label for="phone">Phone</label></td>
                <td><input type="text" name="phone"></td>
            </tr>
            <tr>
                <td><label for="address">Address</label></td>
                <td><textarea name="address"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><button>Submit</button></td>
            </tr>
        </table>
        <button align="center"><a href="/homePage">Home</a></button>
    </form>
</body>
</html>