<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>emp</title>
</head>
<body>
    <h1>Employee Data</h1>

    <button><a href="/employee/empForm">Add New Employee</a></button>
</body>
</html>